*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navbar Styles */
.navbar {
    overflow: hidden;
    background-color: #191a19;
    padding: 10px 20px;

}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    width: 23%;
    border-radius: 10px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Responsive Navbar (for mobile) */
@media screen and (max-width: 600px) {
    .navbar a {
        display: flex;
        text-align: left;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive a {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
}

/* Content Sections */
.tabcontent {
    display: none;
    border-top: none;
    height: 90vh;
}

.tabcontent.visible {
    display: block;
}

/* Referral Section */
.ref-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ref-container h3 {
    margin-top: 0;
}

.input-box {
    margin: 20px 0;
}

.input-box p {
    display: inline-block;
    margin-right: 10px;
}

.asign {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.asign:hover {
    background-color: #45a049;
}

/* Mining Section */
.mining-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tap-button {
    color: rgb(96, 35, 238);
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
}



.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.stat-item {
    margin: 0 10px;
}

.energy-bar {
    font-size: 16px;
    color: #333;
}

img {
    cursor: pointer;
}

/* Task and Stats Sections */
.container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.container .btn:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
