body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 20px;
    height: 30px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 70;
    background-color: #76c7c0;
    transition: width 0.3s;
}
.nav{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;

}
img{
    width: 60%;
    height: 90%;
    border-radius: 50%;
}